doctype
html
	head
		title Empty page
		script(src='/scripts/util.js')
	body
		script
			dialog('Welcome to my page!');
		p this is first paragraph
		p this is second paragraph

		p
			| third pragraph
			| with some multiple lines.

