doctype
html
	head 
		title My application
	body
		ul#menu-bar
			li#current Home
			li	Customers
			li Invoices
			li Reports
				ul
					li Monthly Sales
					li Best Customers
					li Security
				li Layout

	block content
